<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>영화 리뷰 사이트</title>
    <link rel="stylesheet" th:href="@{/css/addstyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div th:replace="~{thymeleaf/menu}"></div>
	
	<br>
	
	<h2>영화 추가</h2>
    <form th:action="@{/movies/add}" method="post" enctype="multipart/form-data">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required><br>
        
        <label for="director">감독:</label>
        <input type="text" id="director" name="director" required><br>
        
        <label for="genre">장르:</label>
        <input type="text" id="genre" name="genre" required><br>
        
        <label for="releaseDate">개봉일:</label>
        <input type="date" name="releaseDate" required><br>
        
        <label for="poster">포스터 이미지:</label>
		<input type="file" id="poster" name="posterFile" accept="image/*"><br>

        
        <label for="synopsis">줄거리:</label>
        <textarea id="synopsis" name="synopsis" required></textarea><br>
        
        <button type="submit">추가</button>
    </form>
    <a href="/">메인으로 돌아가기</a>
	
	<br>

	<div th:replace="~{thymeleaf/footer}"></div>

</body>
</html>
