<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>메뉴바</title>
<style>
  .navbar {
    display: flex;
    justify-content: space-between; 
    padding: 10px 10%;
    background-color: #333;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
  }
  .navbar .left, .navbar .center, .navbar .right {
    display: flex;
    gap: 20px; 
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  .navbar a:hover {
    background-color: #555;
  }
  
  body {
    margin-top: 60px; /* 메뉴바 높이만큼 마진을 주어 겹치지 않게 함 */
  }
</style>
</head>
<body>
  	<div class="navbar">
    	<div class="left">
      		<a href="/main">홈</a>
    	</div>
    	<div class="center">
      		<a href="/movies/add">영화 추가</a>
      		<a href="/main?action=update">영화 수정/삭제</a>
	      	<a href="/mypage">마이페이지</a>
	    </div>
	    <div class="right">
	    	<a th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">로그아웃</a>
	    	<a th:href="@{/login}" th:unless="${#authorization.expression('isAuthenticated()')}">로그인</a>
		</div>

  	</div>
</body>
</html>
