<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 수정 페이지</title>
    <link rel="stylesheet" th:href="@{/css/writestyle.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div th:replace="~{thymeleaf/menu}"></div>
	
	<br>
	
	<h2 th:text="'리뷰 수정 : ' + ${review.movieTitle}"></h2>
	<form action="/review/update" method="post">
	
		<input type="hidden" name="reviewId" th:value="${review.id}">
	    
	    <label>평점 <span> ( 0부터 5까지의 정수로 입력하세요. )</span></label>
	    <input type="number" name="rating" min="1" max="5" th:value="${review.rating}">
	    
	    <br>
	    
	    <label>리뷰</label>
	    <textarea name="reviewComment" th:text="${review.reviewComment}"  rows="4" cols="50"></textarea>
	    
	    <br>
	    
	    <button type="submit">수정 완료</button>
	</form>
	
	<br>
	    
	<div th:replace="~{thymeleaf/footer}"></div>
	
</body>
</html>
