<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 수정</title>
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}">
</head>
<body>
    <div th:replace="~{thymeleaf/menu}"></div>

    <h2>영화 수정</h2>

    <!-- 영화 수정 폼 -->
	<form th:action="@{/movies/update/{id}(id=${movie.id})}" method="post" enctype="multipart/form-data">
	    <label for="title">영화 제목</label>
	    <input type="text" name="title" th:value="${movie.title}" required />
	
	    <label for="director">감독</label>
	    <input type="text" name="director" th:value="${movie.director}" required />
	
	    <label for="releaseDate">개봉일</label>
	    <input type="date" name="releaseDate" th:value="${movie.releaseDate}" required />
	
	    <label for="genre">장르</label>
	    <input type="text" name="genre" th:value="${movie.genre}" required />
	
	    <label for="synopsis">줄거리</label>
	    <textarea name="synopsis" th:text="${movie.synopsis}"></textarea>
	
	    <label for="posterFile">새로운 포스터 파일</label>
	    <input type="file" name="posterFile" />
	
	    <button type="submit">영화 수정</button>
	</form>


    <div th:replace="~{thymeleaf/footer}"></div>
</body>
</html>
