<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>영화 리뷰 사이트</title>
    <link rel="stylesheet" th:href="@{/css/writestyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<div th:replace="~{thymeleaf/menu}"></div>
	
	<br>
	
	<h2 th:text="'리뷰 작성: ' + ${movie.title}"></h2>
    
    <form th:action="@{/movie/review/submit}" method="post">
        <input type="hidden" name="movieId" th:value="${movie.id}">
        
        <label for="rating">평점:</label>
        <input type="number" id="rating" name="rating" min="0" max="5">
        
        <label for="review">리뷰:</label>
        <textarea id="review" name="review" rows="4" cols="50"></textarea>
        
        <button type="submit">리뷰 제출</button>
    </form>
	
	
	<br>

	<div th:replace="~{thymeleaf/footer}"></div>

</body>
</html>
