<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 등록</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"></link>
	<link rel="stylesheet" th:href="@{/css/boardstyle.css}"></link>
</head>
<body>

	<div th:replace="~{thymeleaf/menu}"></div>
	
	<br>
	
	<div class="container">
		<h2>공지사항 등록</h2>
		<form action="/admin/boardWrite" method="post" name="frm" id="frm" enctype="multipart/form-data">
			<table class="board_detail">
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"></td>
				</tr>
				<tr>
					<td colspan="2">
						<textarea id="content" name="content"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn">
			<input type="file" id="files" name="files" multiple="multiple">
		</form>
		
		<a href="/board" class="btn">목록으로</a>
		
	</div>
	
	<br>

	<div th:replace="~{thymeleaf/footer}"></div>
</body>
</html>

