@charset "UTF-8";
/* 영화 상세 페이지 스타일 */
.movie-detail {
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    gap: 40px; /* 포스터와 내용 사이에 간격 */
    margin-top: 20px; /* 페이지 상단 여백 */
    align-items: flex-start; /* 상단 정렬 */
}

.movie-detail img {
    width: 500px;
    height: auto;
}

.movie-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between; /* 내용과 버튼 사이 공간 확보 */
    height: 100%;
}

.movie-info h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.movie-info p {
    font-size: 20px;
    margin: 5px 0;
}

/* 버튼 */
.button-container {
    margin-top: auto; /* 자동으로 아래 정렬 */
    display: flex;
    gap: 20px;
}

.bookmark-btn, .review-btn {
    min-width: 150px;
    min-height: 50px; 
    padding: 12px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    
    /* 내부 텍스트 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark-btn {
    background-color: lightgray;
    color: black;
}

.review-btn {
    background-color: lightgray;
    color: black;
}

.bookmark-btn:hover, .review-btn:hover {
    background-color: gray;
}

/* 별점 컨테이너 */
.star-rating {
    display: inline-block;
    font-size: 32px;
}
.star-rating-p{
	font-size: 32px;
    color: #666;
}

/* 노란색 별 */
.star-rating .fa-star {
    color: gold;
}

/* 빈 회색 별 */
.star-rating .fa-star-o {
    color: lightgray;
}

/* 평균 점수의 스타일 */
.average-rating {
    font-size: 32px;
    margin-left: 10px;
    color: #666;
}

/*리뷰*/
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #007bff;
}


